main {
    background: #495E57;
}

h1 {
    padding-top: 51px;
    padding-left: 290px;
    color: #F4CE14;
    font-family: "Markazi Text";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

h2 {
    color: #000;
    font-family: "Markazi Text";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding-left: 202px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

p {
    font-family: sans-serif;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.313px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}